.button {
    display:inline-flex;
    height: 50px;
    size: 50;
    padding: 0;
    background: orange;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Alumni Sans Inline One', cursive;
font-family: 'League Gothic', sans-serif;
cursor: pointer;

}